
.vs/Facturation/v16/Server/sqlite3/storage.ide-wal
.vs/Facturation/config/applicationhost.config
.vs/Facturation/v16/.suo
.vs/Facturation/v16/Server/sqlite3/db.lock
.vs/Facturation/v16/Server/sqlite3/storage.ide
.vs/Facturation/v16/Server/sqlite3/storage.ide-shm
